In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [4]:
train.columns

Index(['Id', 'v2a1', 'hacdor', 'rooms', 'hacapo', 'v14a', 'refrig', 'v18q',
       'v18q1', 'r4h1',
       ...
       'SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe', 'SQBhogar_nin',
       'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq', 'Target'],
      dtype='object', length=143)

In [5]:
data_na = train.isnull().sum().values / train.shape[0] *100
df_na = pd.DataFrame(data_na, index=train.columns, columns=['Count'])
df_na = df_na.sort_values(by=['Count'], ascending=False)

missing_value_count = df_na[df_na['Count']>0].shape[0]

print(f'We got {missing_value_count} rows which have missing value in train set ')
df_na.head(6)

We got 5 rows which have missing value in train set

               Count
rez_esc    82.954902
v18q1      76.823271
v2a1       71.779847
SQBmeaned   0.052318
meaneduc    0.052318
Id          0.000000

In [6]:
data_na = test.isnull().sum().values / test.shape[0] *100
df_na = pd.DataFrame(data_na, index=test.columns, columns=['Count'])
df_na = df_na.sort_values(by=['Count'], ascending=False)

missing_value_count = df_na[df_na['Count']>0].shape[0]

print(f'We got {missing_value_count} rows which have missing value in test set ')
df_na.head(6)

We got 5 rows which have missing value in test set

                Count
rez_esc     82.381791
v18q1       75.980885
v2a1        72.950201
meaneduc     0.129946
SQBmeaned    0.129946
instlevel1   0.000000

In [7]:
train.head(10)

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4
5,ID_ec05b1a7b,180000.0,0,5,0,1,1,1,1.0,0,...,121,1444,16,121,4,1.777778,1.0,121.0,1444,4
6,ID_e9e0c1100,180000.0,0,5,0,1,1,1,1.0,0,...,4,64,16,121,4,1.777778,1.0,121.0,64,4
7,ID_3e04e571e,130000.0,1,2,0,1,1,0,NaN,0,...,0,49,16,81,4,16.000000,1.0,100.0,49,4
8,ID_1284f8aad,130000.0,1,2,0,1,1,0,NaN,0,...,81,900,16,81,4,16.000000,1.0,100.0,900,4
9,ID_51f52fdd2,130000.0,1,2,0,1,1,0,NaN,0,...,121,784,16,81,4,16.000000,1.0,100.0,784,4

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [9]:
train.select_dtypes(include='object').head()

             Id    idhogar dependency edjefe edjefa
0  ID_279628684  21eb7fcc1         no     10     no
1  ID_f29eb3ddd  0e5d7a658          8     12     no
2  ID_68de51c94  2c7317ea8          8     no     11
3  ID_d671db89c  2b58d945f        yes     11     no
4  ID_d56d6f5f5  2b58d945f        yes     11     no

In [11]:
correlation = train.corr()
correlation = correlation['Target'].sort_values(ascending=False)
print(f'The most 20 positive feature: \n{correlation.head(20)}')
print('*'*50)

print(f'The most 20 negative feature: \n{correlation.tail(20)}')

The most 20 positive feature:
Target          1.000000
meaneduc        0.335203
cielorazo       0.304421
escolari        0.302305
SQBescolari     0.296577
eviv3           0.294222
epared3         0.292451
pisomoscer      0.280284
SQBmeaned       0.276620
v2a1            0.273559
paredblolad     0.261274
etecho3         0.257378
SQBedjefe       0.246368
v18q            0.238864
rooms           0.226208
instlevel8      0.214351
qmobilephone    0.199707
computer        0.183113
lugar1          0.173359
bedrooms        0.166943
Name: Target, dtype: float64
**************************************************
The most 20 negative feature:
tamviv            -0.158224
instlevel2        -0.159210
energcocinar4     -0.162366
paredmad          -0.168237
r4m3              -0.173931
epared2           -0.177334
eviv2             -0.179421
etecho1           -0.190837
hacdor            -0.191714
epared1           -0.203025
pisocemento       -0.205439
eviv1             -0.208038
r4h1              -0.229889
r4m1              -0.253163
SQBovercrowding   -0.258744
overcrowding      -0.289110
SQBhogar_nin      -0.311186
r4t1              -0.316745
hogar_nin         -0.328199
elimbasu5               NaN
Name: Target, dtype: float64

In [12]:
test.select_dtypes(include='object').head()

             Id    idhogar dependency edjefe edjefa
0  ID_2f6873615  72958b30c         .5     no     17
1  ID_1c78846d2  72958b30c         .5     no     17
2  ID_e5442cf6a  72958b30c         .5     no     17
3  ID_a8db26a79  5b598fbc9         no     16     no
4  ID_a62966799  1e2fc704e          8     no     11

In [13]:
cols = ['edjefa', 'edjefe', 'idhogar', 'tamviv', 'instlevel2', 'energcocinar4', 'paredmad', 'r4m3','epared2','eviv2', 'etecho1', 'hacdor',
       'epared1', 'pisocemento', 'eviv1', 'r4h1', 'r4m1', 'SQBovercrowding', 'overcrowding','SQBhogar_nin', 'r4t1', 'hogar_nin',
       'elimbasu5']
train.drop(columns=cols, axis=1, inplace = True)

In [14]:
cols = ['edjefa', 'edjefe', 'idhogar', 'tamviv', 'instlevel2', 'energcocinar4', 'paredmad', 'r4m3','epared2','eviv2', 'etecho1', 'hacdor',
       'epared1', 'pisocemento', 'eviv1', 'r4h1', 'r4m1', 'SQBovercrowding', 'overcrowding','SQBhogar_nin', 'r4t1', 'hogar_nin',
       'elimbasu5']
test.drop(columns=cols, axis=1, inplace = True)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [17]:
le.fit(train.dependency)

LabelEncoder()

In [18]:
train['dependency'] = le.transform(train.dependency)

In [19]:
test['dependency'] = le.fit_transform(test.dependency)

In [20]:
train.fillna(value=0, inplace=True)

In [21]:
test.fillna(value=0, inplace=True)

In [41]:
X = train.iloc[:, :-1].values
Y = train.iloc[:, -1].values

In [23]:
from sklearn.model_selection import train_test_split

In [42]:
train_X,test_X,train_Y,test_Y = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [43]:
train_X.shape

(7645, 118)

In [44]:
test_X.shape

(1912, 118)

In [45]:
train_Y.shape

(7645,)

In [46]:
test_Y.shape

(1912,)

In [ ]:
col = ['Id']
train.drop(columns=col, axis =1, inplace=True)
test.drop(columns=col, axis=1,inplace=True)

In [47]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
train_X = sc_X.fit_transform(train_X)
test_X = sc_X.fit_transform(test_X)

# Decision Trees

In [48]:

from sklearn.tree import DecisionTreeClassifier
    
dtree = DecisionTreeClassifier(random_state=0)
dtree.fit(train_X, train_Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [49]:
y_pred = dtree.predict(test_X)

In [71]:
y_pred

array([4, 4, 4, ..., 2, 3, 4])

# K nearest neighbours

In [55]:
from sklearn.neighbors import KNeighborsClassifier

In [56]:
knn = KNeighborsClassifier()

In [57]:
knn.fit(train_X,train_Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [58]:
pred1 = knn.predict(test_X)

In [59]:
pred1

array([4, 4, 4, ..., 2, 4, 4])

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(test_Y, y_pred)

0.8509414225941423

In [61]:
accuracy_score(test_Y, pred1)

0.731694560669456